<launch>
	<node pkg="norlab_icp_mapper_ros" type="mapper_node" name="mapper_node" output="screen">
		<remap from="acceleration_topic" to="/vectornav/IMU"/>
		<param name="sensor_frame" value="os1_lidar"/>
		<param name="robot_frame" value="os1_lidar"/>
		<param name="odom_frame" value="odom"/>
		<param name="icp_config" value="$(find publi_collision_recovery)/params/backpack_icp_config.yaml"/>
		<param name="input_filters_config" value="$(find publi_collision_recovery)/params/backpack_input_filters.yaml"/>
		<param name="map_post_filters_config" value="$(find publi_collision_recovery)/params/backpack_post_filters.yaml"/>
		<param name="map_update_condition" value="overlap"/>
		<param name="map_update_overlap" value="0.9"/>
		<param name="sensor_max_range" value="100.0"/>
		<param name="min_dist_new_point" value="0.05"/>
		<param name="compute_prob_dynamic" value="true"/>
		<param name="prior_dynamic" value="0.2" />
		<param name="threshold_dynamic" value="0.5" />
		<param name="beam_half_angle" value="0.02" />
		<param name="epsilon_a" value="0.1" />
		<param name="epsilon_d" value="0.1" />
		<param name="alpha" value="0.99" />
		<param name="beta" value="0.9" />
		<param name="is_3D" value="true" />
		<param name="compute_prob_dynamic" value="true" />

		<remap from="points_in" to="/os1_cloud_node/points"/>
		<param name="is_mapping" value="false"/>
		<param name="is_online" value="false"/>
		<param name="compute_residual" value="true"/>
		<!-- <param name="final_map_file_name" value="/hdd/publi_collision_recovery/2020-10-15_backpack_office/office.vtk"/> -->
		<param name="mean_residual_file_name" value="/home/simon/Desktop/doctorat/publi_collision_recovery/backpack/2020-10-15-18-09-33_skewed.csv"/>
		<param name="initial_map_file_name" value="/hdd/publi_collision_recovery/2020-10-15_backpack_office/office.vtk"/>
                <!-- <param name="initial_map_pose" value="[[0.9443540,0.0302666,-0.3275347,-0.4371865],[-0.03489312,0.999357,-0.0082565,-0.26444105],[0.32707411,0.0192258,0.94480263,-0.3103817],[0,0,0,1]]"/> -->
	</node>
</launch>
